<div id="MinBodyColorView">
    <div class="img_box">
        <img class="color_part"
            :src="`${$store.state.baseUrl}img/angle_1/wheels/wheel_${option.wheel}/${option.clipers_color}.png`" />
        <img class="color_part" :src="`${$store.state.baseUrl}img/angle_1/body_color/${option.body_color}.png`" />
        <img class="color_part" :src="`${$store.state.baseUrl}img/angle_1/base.png`" />
        <img :src="`${$store.state.baseUrl}img/angle_1/base.png`" style="visibility: hidden;" />
    </div>
</div>