<div id="MainNav">
    <div class="nav_header">
        <a class="logo" :style="`background-image:url('${$store.state.baseUrl}img/資產 2.svg')`"></a>
    </div>
    <div class="nav_body">
        <ol>
            <li @click="$store.commit('SetStep',1)" :class="{active:step == 1}">選擇車色</li>
            <li @click="$store.commit('SetStep',2)" :class="{active:step == 2}">選擇輪框</li>
            <li @click="$store.commit('SetStep',3)" :class="{active:step == 3}">卡鉗顏色</li>
            <li @click="$store.commit('SetStep',4)" :class="{active:step == 4}">訂單總覽</li>
        </ol>
    </div>
</div>